@model Data.Page

@{
    ViewBag.Title = "Crockett & Jones";
}

<div class="row">

    <div class="col-xs-10 col-xs-offset-1
         col-sm-4 col-sm-offset-4
         image">
        <img src="@Model.HeaderImage" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 header">
        <h2>@Model.Header</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 cont">
        <p>@Model.HeaderContent</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-10 col-xs-offset-1
         col-sm-4 col-sm-offset-4
         image">
        <img src="@Model.TitleImage" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 header">
        <h2>@Model.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 cont">
        <p>@Model.TitleContent</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 link">
        @{
            foreach (var link in Model.Links)
            {

                <a href="@link.Url">@link.Title</a>

            };
        }
    </div>
</div>
